<h1>New Patient</h1>

<%#= render 'form', patient: @patient %>


<%= form_tag import_patients_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>

<%= link_to 'Back', patients_path %>
